 

 body {

    background-color: #b0bec5;
}

#nom{

	font-family: 'Tangerine', cursive;
	font-size: 100px;
	color: #006064;
	text-align: center;
	margin-top: 25px;
}

#poste{
	font-family: 'Tenor Sans', sans-serif;
	font-size: 50px;
	margin-top: 20px; 
	margin-left: 600px;
}

#photo {

	height: 300px;
	width: 300px;
	border-color: #424242; 
	margin-left: 50px;
	margin-top: -150px; 

}


